.App {
  text-align: center;
  clear: both;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*color for the body #184e8e*/

.App-header {
  background-color: #212529;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.addBookForm {
  display: flex;
  float: left;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.addReviewForm {
  display: flex;
  float: right;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.book-card {
  border: #184e8e 1px solid;
  margin: 3rem;
  margin-left: 20%;
  margin-right: 20%;
  padding: 2rem;
}


.App-link {
  color: #61dafb;
}

.books-list {
  clear: both;
}

.title-books-comp {
  margin-top: 6rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
